.fast_categories{
    width: 100%;
    min-height: 75px;
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 1020px) {
        min-height: initial;
    }

    li{
        button{
            height: 100%;
            padding: 10px 20px;
            position: relative;
            white-space: nowrap;

            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: white;
            }

            @media screen and (max-width: 1020px) {
                padding: 3px 2px;
                margin: 0 10px;
            }
        }
    }
}
.active{
    &::after{
        background-color: var(--brown-500) !important;
    }
}