.products_catalog{
    padding: 90px 95px 20px;

    @media screen and (max-width: 991px) {
        padding: 50px 40px 20px;
    }
}
.products_breadcrumbs{
    margin-bottom: 40px;
    @media screen and (max-width: 991px) {
        margin-bottom: 20px;
    }
}
.breadcrumbs_container{
    padding: 0 15px;
}
.products_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    grid-row-gap: 10px;
    margin: 0 -30px;

    @media screen and (max-width: 1599px) {
        grid-template-columns: repeat(auto-fill, minmax(33.333%, 1fr));
    }
    @media screen and (max-width: 1199px) {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
    // @media screen and (max-width: 799px) {
    //     grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    // }
}