.products_catalog{
    padding: 90px 80px 20px;

    @media screen and (max-width: 1750px) {
        padding: 90px 40px 20px;
    }
    @media screen and (max-width: 991px) {
        padding: 50px 40px 20px;
    }
    @media screen and (max-width: 575px) {
        padding: 40px 20px 20px;
    }
}
.products_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    grid-row-gap: 10px;    
    grid-column-gap: 15px;

    @media screen and (max-width: 1599px) {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
    @media screen and (max-width: 1199px) {
        grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));
    }
    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}