.wrapper {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 15;
    background-color: rgb(247, 247, 247);
    border-bottom: 1px solid #cccccc;
    transform: translateY(-100%);
    transition: transform 0.5s ease;    
}
.active {
    transform: translateY(0);
}
.menu_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: black;

    & > li {
        flex: 1 1 0;
    }
}
.menu_item {
    padding: 0 20px;
    background-color: white;
    border-bottom: 1px solid #cccccc;

    span {
        display: block;
        padding: 20px 0;
        font-size: 18px;
        font-weight: 700;
    }
}
.submenu_item {
    li {
        padding: 0 20px;
        span {
            display: block;
            padding: 16px 0;
            font-size: 15px;
        }
    }
}
