.section__wrapper{
    padding: 40px;
    .titleBlock{
        margin-bottom: 40px;
        h2{
            font-size: 36px;
            font-weight: 700;
        }
    }
    .slider_container{
        padding: 0 30px;
    }
}