h2{
    font-size: 36px;
    font-weight: 700;
}

.reccomend{
    padding: 40px;
    h2{
        margin-bottom: 40px;
    }
}
.delivery{
    padding: 40px;
    h2{
        margin-bottom: 40px;
    }
}