.item-homeSlider__swicher {
    display: flex;
    align-items: center;

    & > span {
        display: inline-block;
        padding: 0 6px;
        line-height: 28px;
        font-weight: 400;
        border: 1px solid transparent;
        border-radius: 14px;
        cursor: pointer;
        user-select: none;
        transition: border-color 0.1s linear;

        &:hover {
            border-color: var(--green-main);
        }
    }

    .swicher-homeSlider__checkbox {
        margin: 0 7px;
        position: relative;
        display: block;
        width: 50px;
        height: 28px;
        border-radius: 14px;
        background-color: var(--green-main);
        cursor: pointer;

        span {
            position: absolute;
            display: block;
            top: 3px;
            left: 3px;
            right: auto;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: white;
            transition: transform 0.3s ease;
        }

        &.checked span {
            transform: translateX(22px);
        }
    }
}