.ant-breadcrumb-link a {
    color: var(--gray-100);
}
.ant-breadcrumb a:hover {
    color: var(--gray-100);
    text-decoration: underline;
}
.ant-breadcrumb > span:last-child a {
    color: var(--gray-100);
}
.breadcrumbs_wrapper{
    margin-bottom: 25px;
    @media screen and (max-width: 991px) {
        margin-bottom: 10px;
    }    
}
