.header{
    background-color: #000;
    color: white;
}
.header_wrapper{
    padding: 22px 0px;
    display: flex;
    align-items: center;
}
.header_inner{
    display: flex;
    align-items: center;
    width: 100%;
}
