.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: white;
    z-index: 100;
}
.header_wrapper{
    display: flex;
    align-items: center;
    height: 80px;
    padding:0 25px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 720px){
        height: 60px;
        padding:0 15px;
    }
}
.header_inner{
    display: flex;
    align-items: center;
    width: 100%;
}
