.section-container{
    width: 100%;
    max-width: calc(1920px + 40px);
    padding: 0 20px;
    margin: 0 auto;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.product-tag__wrapper {
    position: absolute;
    top: 0;
    left: -10px;
    padding-top: 10px;

    .product-tag {
        position: relative;
        margin-bottom: 14px;
        span {
            position: relative;
            font-size: 15px;
            font-weight: 700;
            padding: 5px 8px;
            height: 28px;
            text-transform: uppercase;
            color: white;
            z-index: 1;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                bottom: -7px;
                left: 3px;
                width: 10px;
                height: 10px;
                border: 7px solid transparent;
                transform: rotate(-45deg);
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: -10px;
                width: 30px;
                height: 28px;
                transform: skewX(-20deg);
                z-index: -1;
            }
        }
    }
    .primary-product-tag {
        span {
            background-color: var(--light-red);

            &::before {
                border-left-color: var(--dark-red);
            }

            &::after {
                background-color: var(--light-red);
            }
        }
    }
    .secondary-product-tag {
        span {
            background-color: var(--light-green);

            &::before {
                border-left-color: var(--dark-green);
            }
            &::after {
                background-color: var(--light-green);
            }
        }
    }
}

.item-homeSlider__btn {
    width: 100%;
    padding: 14px 0;
    text-align: center;
    font-size: 16px;
    color: var(--green-main);
    border: 1px solid var(--green-main);
    border-radius: 3px;
    transition: color 0.1s linear, background-color 0.1s linear;

    &.popup_cart__btn{
        background-color: var(--green-100);
        color: white;
    }

    &:hover {
        color: white;
        background-color: var(--green-main);
    }

    @media screen and (max-width: 575px) {
        padding: 12px 0;
        font-size: 15px;
    }
}

.ant-carousel .slick-prev:hover, .ant-carousel .slick-next:hover, .ant-carousel .slick-prev:focus, .ant-carousel .slick-next:focus {
    color: initial;
    background-color: rgba(0, 0, 0, 0.3);
    outline: none;
}