:root{
    --green-main: #91B306;
    --gray: gray;
    --gray-secondary: #b1b1b1;
    --gray-100: #8e8e8e;
    --brown: #a99071;
    --brown-500: #E1B787;
    --brown-light: #eee9e3;
    --light-red: #E04D30;
    --dark-red: #8c2b19  ;
    --light-green: #6dab3b;
    --dark-green: #3d5e22 ;
    --green-100: #8c9f3f ;
    --green-200: #DBE3BB ;
    --green-disabled:#C6CF9F ;
}