.menu_wrapper{
    position: fixed;
    top: 80px;
    left: 0;
    width: 80px;
    height: calc(100vh - 80px);
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    background-color: yellow;
}



@media screen and (max-width: 1020px){
    .menu_wrapper{
        width: 100% !important;
        height: 60px;
    }
}