.checkout__wrapper {
    padding         : 50px 15px;
    background-color: rgb(244, 244, 244);

    @media screen and (max-width: 575px){
        padding: 30px 10px;
    }
}

.checkout__container {
    width    : 100%;
    max-width: 900px;
    margin   : 0 auto;
}

.checkout__title {
    font-size    : 38px;
    font-weight  : 900;
    text-align   : center;
    margin-bottom: 40px;

    @media screen and (max-width: 575px){
        font-size: 28px;
        margin-bottom: 15px;
    }
}

.checkout__section {
    color           : black;
    background-color: white;
    border          : 1px solid var(--brown-light);
    margin-bottom   : 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

.checkout_list__header {
    border-bottom: 1px solid var(--brown-light);

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.checkout_list__row {
    padding: 25px 30px;
}

.checkout_list__row_wrapper {
    display    : flex;
    align-items: center;
    text-align : center;

    .checkout_list__title {
        flex      : 1 1 0;
        text-align: left;
    }

    .checkout_list__price {
        width: 120px;
    }

    .checkout_list__count {
        width: 155px;
    }

    .checkout_list__sum {
        width: 140px;
    }

    .checkout_list__close {
        width: 28px;
    }
}

.checkout_list__body {

    .checkout_list__row {
        padding: 0 30px 25px 30px;

        @media screen and (max-width: 767px) {
            padding: 0 20px 20px 20px;
        }

        &:first-child .checkout_list__row_wrapper {
            border-top: none;
        }
    }

    .checkout_list__row_wrapper {
        flex-wrap  : wrap;
        padding-top: 25px;
        border-top : 1px solid var(--brown-light);

        @media screen and (max-width: 767px) {
            padding-top: 20px;
        }

        .checkout_list__title {
            display      : flex;
            align-items  : center;
            padding-right: 10px;

            @media screen and (max-width: 767px) {
                flex         : 1 1 100%;
                margin-bottom: 10px;
            }

            div {

                h3,
                p {
                    text-decoration: underline;
                    cursor         : pointer;
                    user-select    : none;

                    &:hover {
                        text-decoration: none;
                    }
                }

                p {
                    color: #333333;
                }

                @media screen and (max-width: 1020px) {
                    h3 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 15px;
                    }
                }
            }


            img {
                width        : 80px;
                height       : 80px;
                display      : block;
                border-radius: 2.5px;
                margin-right : 15px;
                user-select  : none;

                @media screen and (max-width: 820px) {
                    display: none;
                }
            }
        }

        .checkout_list__price {
            font-size  : 18px;
            font-weight: 700;
            user-select: none;

            @media screen and (max-width: 767px) {
                display: none;
            }
        }

        .checkout_list__count {
            display        : flex;
            align-items    : center;
            justify-content: center;

            & div:nth-child(1),
            & div:nth-child(3) {
                svg path {
                    transition: stroke 0.1s linear;
                }

                &:hover {
                    svg path {
                        stroke: #E1B787;
                    }
                }
            }

            & div:nth-child(2) {
                margin     : 0 15px;
                user-select: none;
            }

            @media screen and (max-width: 767px) {
                flex: 0 1 0;
            }
        }

        .checkout_list__sum {
            font-size  : 18px;
            font-weight: 700;
            user-select: none;

            @media screen and (max-width: 767px) {
                flex       : 1 1 0;
                font-size  : 16px;
                font-weight: 400;
            }
        }

        .checkout_list__close {
            svg {
                cursor: pointer;

                circle {
                    transition: fill 0.1s linear;
                }

                &:hover {
                    circle {
                        fill: var(--brown-500)
                    }
                }
            }

            @media screen and (max-width: 767px) {
                flex: 0 1 0;
            }
        }
    }
}

.checkout_list__footer {
    .footer_sum {
        display        : flex;
        align-items    : center;
        justify-content: space-between;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }

        & p:first-child {
            font-size  : 14px;
            color      : rgb(112, 112, 112);
            text-align : left;
            line-height: 1.8;
        }

        & p:last-child {
            display        : flex;
            align-items    : center;
            justify-content: center;
            flex-wrap      : wrap;

            & span:first-child {
                font-size  : 16px;
                font-weight: 400;
                color      : black;
                text-align : right;
            }

            & span:last-child {
                margin-left: 15px;
                font-size  : 24px;
                line-height: 1.7;
                color      : var(--green-100);
            }
        }
    }

    .footer_row {
        font-size  : 13px;
        color      : black;
        line-height: 1.5;

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }
}

.checkout_confirm {
    text-align: center;

    .checkout_confirm__row {
        padding: 30px;

        @media screen and (max-width: 575px) {
            padding: 20px;
        }
    }
}

.checkout_confirm__header {
    text-align   : center;
    border-bottom: 1px solid var(--brown-light);

    form {
        display       : flex;
        flex-direction: column;
        width         : 100%;
        max-width     : 340px;
        margin        : 0 auto 40px;

        label {
            font-size    : 16px;
            color        : black;
            margin-bottom: 15px;
        }

        input {
            padding      : 10px;
            margin-bottom: 30px;
            font-size    : 18px;
            text-align   : center;
            border       : 1px solid var(--brown-light);
            border-radius: 3px;
        }

        input:-webkit-autofill {
            -webkit-box-shadow     : 0 0 0 50px white inset;
            /* можно изменить на любой вариант цвета */
            -webkit-text-fill-color: black;
        }

        button {
            padding         : 15px;
            text-align      : center;
            line-height     : 1.3;
            color           : white;
            background-color: var(--green-100);
            border-radius   : 3px;
            cursor          : pointer;

            &:disabled {
                background-color: var(--green-disabled);
                cursor          : initial;
            }
        }

        span {
            padding-top: 10px;
            color      : var(--green-100);
        }
    }

    .checkout_benefits {
        display        : flex;
        align-items    : center;
        justify-content: space-evenly;

        @media screen and (max-width: 620px) {
            flex-direction: column;
        }

        li {
            display        : flex;
            align-items    : center;
            justify-content: center;
            width          : 25%;

            @media screen and (max-width: 900px) {
                width: 30%;
            }

            @media screen and (max-width: 820px) {
                flex-direction: column;
            }

            @media screen and (max-width: 620px) {
                width        : 100%;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            p {
                font-size   : 13px;
                text-align  : left;
                padding-left: 10px;

                @media screen and (max-width: 820px) {
                    padding-left: 0;
                    padding-top : 15px;
                    text-align  : center;
                }

                span {
                    color      : var(--green-100);
                    font-weight: 400;
                }
            }
        }
    }
}

.checkout_confirm__footer {
    text-align: center;
    color     : var(--gray);

    button {
        display         : block;
        width           : 100%;
        max-width       : 340px;
        margin          : 0 auto 15px;
        padding         : 15px 5px;
        color           : white;
        background-color: var(--gray);
        border-radius   : 3px;
    }
}

.tab__panes {
    display        : flex;
    justify-content: space-between;

    .tab__pane {
        display                : flex;
        align-items            : center;
        width                  : calc(50% - 4px);
        padding                : 20px 30px;
        text-transform         : uppercase;
        font-weight            : 700;
        line-height            : 1.3;
        background-color       : var(--green-200);
        border-top-left-radius : 4px;
        border-top-right-radius: 4px;
        cursor                 : pointer;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            padding: 10px 10px 5px;
            min-height: 145px;
        }

        .pane__text {
            flex-grow: 1;
            padding-right: 10px;
            border-right: 1px solid #AFB696;

            @media screen and (max-width: 767px) {
                width: 100%;
                padding: 0;
                border: none;
            }

            .pane__title {
                font-size: 17px;

                @media screen and (max-width: 767px) {
                    font-size: 15px;
                }
            }

            .pane__subtitle {
                font-size: 14px;
                color    : var(--green-100);

                @media screen and (max-width: 767px) {
                    font-size: 13px;
                }
            }
        }

        .pane__price {
            display        : flex;
            align-items    : center;
            justify-content: center;
            flex-shrink: 0;
            width          : 35%;
            height         : 100%;
            padding        : 10px;
            color          : var(--green-100);

            @media screen and (max-width: 767px) {
                width: 100%;
                height: auto;
                justify-content: flex-start;
                padding: 10px 0 0 0;
                margin-top: 10px;
                font-size: 14px;
                border-top: 1px solid #AFB696;
            }
        }
    }

    .active {
        background-color: var(--green-100) !important;

        .pane__text {
            border-right-color: #A3B265;
            .pane__title {
                color: white;
            }

            .pane__subtitle {
                color: #C5ED82;
            }
        }
        .pane__price{
            color: white;

            @media screen and (max-width: 767px) {
                border-color: #707F32;
            }
        }
    }
}

.line{
    width: 100%;
    height: 5px;
    background-color: var(--green-100);
}