.homeSlider {
    margin      : 0 -12px;
}

.homeSlider,
.products_catalog_item_wrapper {
    height: 100%;

    .homeSlider__item {
        height : 100%;
        padding: 15px;

        @media screen and (max-width: 650px) {
            width  : 100%;
            padding: 0;
        }

        .item-homeSlider__content {
            position      : relative;
            display       : flex;
            flex-direction: column;
            height        : 100%;
            z-index       : 1;
            transition    : all 0.12s linear;

            &:hover {
                box-shadow: 0 0 10px 4px #ccc;

                .item-homeSlider__info h3 {
                    color: var(--green-main);
                }
            }
        }

        img {
            display: block;
            width  : 100%;
            margin : 0 auto;
            height : auto;
            cursor : pointer;
        }

        .item-homeSlider__info {
            padding       : 20px;
            flex-grow     : 1;
            display       : flex;
            flex-direction: column;

            h3 {
                font-size    : 24px;
                margin-bottom: 30px;
            }

            .item-homeSlider__weight-block {
                display        : flex;
                justify-content: space-between;
                align-items    : center;
                flex-wrap      : wrap;
                font-size      : 14px;
                margin-bottom  : 10px;

                .item-homeSlider__weight {
                    flex-grow   : 1;
                    min-width   : 50px;
                    line-height : 35px;
                    margin-right: 10px;
                    color       : var(--gray-secondary);
                }

                .item-homeSlider__swicher {
                    display    : flex;
                    align-items: center;

                    &>span {
                        display      : inline-block;
                        padding      : 0 6px;
                        line-height  : 28px;
                        border       : 1px solid transparent;
                        border-radius: 14px;
                        cursor       : pointer;
                        user-select  : none;
                        transition   : border-color 0.1s linear;

                        &:hover {
                            border-color: var(--green-main);
                        }
                    }

                    .swicher-homeSlider__checkbox {
                        margin          : 0 7px;
                        position        : relative;
                        display         : block;
                        width           : 50px;
                        height          : 28px;
                        border-radius   : 14px;
                        background-color: var(--green-main);
                        cursor          : pointer;

                        span {
                            position        : absolute;
                            display         : block;
                            top             : 3px;
                            left            : 3px;
                            right           : auto;
                            width           : 22px;
                            height          : 22px;
                            border-radius   : 50%;
                            background-color: white;
                            transition      : transform 0.3s ease;
                        }

                        &.checked span {
                            transform: translateX(22px);
                        }
                    }
                }
            }

            .item-homeSlider__descr {
                position     : relative;
                font-size    : 14px;
                font-weight  : 300;
                line-height  : 18px;
                height       : 54px;
                margin-bottom: 10px;
                overflow     : hidden;
                color        : var(--gray);

                &:after {
                    content   : "";
                    position  : absolute;
                    left      : 0;
                    bottom    : 0;
                    width     : 100%;
                    height    : 25px;
                    background: linear-gradient(0deg, white 0%, transparent 80%, transparent 100%);
                }

                @media screen and (max-width: 575px) {
                    margin-bottom: 15px;
                }
            }

            .item-homeSlider__price-gift {
                display      : flex;
                align-items  : center;
                flex-wrap    : wrap;
                flex-grow: 1;
                margin-bottom: 10px;

                .item-homeSlider__price {
                    width      : 40%;
                    font-size  : 24px;
                    font-weight: 500;
                    line-height: 50px;
                    color      : black;
                    flex-grow  : 1;

                    &.with-discount {
                        .item-homeSlider__price-ordinary {
                            position: relative;

                            &::before {
                                content         : "";
                                position        : absolute;
                                top             : 6px;
                                left            : -5px;
                                width           : 115%;
                                height          : 3px;
                                transform       : rotate(10deg);
                                transform-origin: left;
                                background-color: var(--light-red);
                            }
                        }
                    }

                    .item-homeSlider__price-discount {
                        padding         : 5px 10px;
                        margin-right    : 15px;
                        background-color: var(--light-red);
                        color           : white;
                        border-radius   : 5px;
                    }
                }

                .item-homeSlider__gift-block {
                    width     : 60%;
                    min-height: 50px;
                    min-width : 205px;
                    flex-grow : 1;

                    @media screen and (max-width: 421px) {
                        min-height: initial;
                    }
                }
            }

            // .item-homeSlider__btn {
            //     width: 100%;
            //     padding: 15px 0;
            //     text-align: center;
            //     font-size: 16px;
            //     color: var(--green-main);
            //     border: 1px solid var(--green-main);
            //     border-radius: 3px;
            //     transition: color 0.1s linear, background-color 0.1s linear;

            //     &:hover {
            //         color: white;
            //         background-color: var(--green-main);
            //     }

            //     @media screen and (max-width: 575px) {
            //         padding: 12px 0;
            //         font-size: 15px;
            //     }
            // }
        }
    }

    .slick-arrow {
        width        : 30px;
        height       : 30px;
        margin-top   : -15px;
        border-radius: 50%;
        z-index      : 1;

        &::before {
            content          : "";
            position         : absolute;
            top              : 57%;
            left             : 57%;
            margin           : -13px 0 0 -13px;
            width            : 26px;
            height           : 26px;
            border-radius    : 2px;
            border           : 2.5px solid transparent;
            border-top-color : black;
            border-left-color: black;

            font-family: initial;
            font-size  : 0;
            line-height: 0;
            opacity    : 1;
            color      : none;
        }

        @media screen and (max-width: 650px) {
            display: none !important;
        }
    }

    .ant-carousel button.slick-prev {
        left     : -25px;
        transform: rotate(-45deg);

        @media screen and (max-width: 1099px) {
            left: -20px;
        }

        @media screen and (max-width: 767px) {
            left: -15px;
        }
    }

    .ant-carousel button.slick-next {
        right    : -25px;
        transform: rotate(135deg);

        @media screen and (max-width: 1099px) {
            right: -20px;
        }

        @media screen and (max-width: 767px) {
            right: -15px;
        }
    }
}